## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*, 'hello', -87.8, -, /, +, 6

In [ ]:
Expression : *, -, /, +
Integer value : -87.8, 6
String value    : 'hello'

## 2. What is the difference between string and variable?

In [ ]:
Variable : They are containers for storing data values of different datatypes i.e. integer,string,float etc.
           Variable is created when we assign value to it.
           Variables do not need to be declared with any particular type, Python Interpreter automatically detect
           the data type of the variable accoring to type of value assigned to the variable.

In [34]:
# Example of declaring variable

a = 10      # detected as integer
b = 'ball'  # detected as string
c = 3.14    # detected as float

# Varifing datatype of above declared variables

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
String : String is sequence type datatype, store sequence of characters.
         Datatype of a variable is string when we assign the value to variable in quotation marks '' or "".
         we can expicitly change the datatype of other variable to string type variable using 'str'.

In [37]:
x = 'prakash'
y = "Kumar"
print(x,y)
print(type(x))
print(type(y))

prakash Kumar
<class 'str'>
<class 'str'>

In [38]:
# converting integer to string

a = 10
print(type(a))

a = str(a)
print(type(a))

<class 'int'>
<class 'str'>

## 3. Describe three different data types.

In [ ]:
Three Different datatypes are Numeric Type,Boolean Type, Sequence Type.

Numeric types in python are int, float, complex.

In [14]:
# int : Store numbers that does not contains Decimal Values.
a = 2
b = -10 
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [15]:
# float : Store numbers containing Decimal Values.
x = 5.5
y = -13.0 
print(type(x))
print(type(y))

<class 'float'>
<class 'float'>

In [18]:
# complex : Store numbers that must have Imaginary part, denoted by 'j';.
p = 5+1j
q = -10j
print(type(p))
print(type(q))

<class 'complex'>
<class 'complex'>

In [22]:
# Boolean types in python always return one of the values 'True' and 'False'. 
# 'bool' repesents variable is boolean type.
a = True 
c = False 
print(type(a))   
print(type(c))

<class 'bool'>
<class 'bool'>

In [ ]:
Sequence types in python are list, tuple and string.

In [23]:
# list : Store multiple items of different datatype in a single variable.

l = ['apple', 2.6, 10, 5j, True]
print(l)
print(type(l))

['apple', 2.6, 10, 5j, True]
<class 'list'>

In [24]:
# tuple : Store multiple items of different datatype in a single variable.
# But once tuple created we cannot change, add and remove tuple items.
   
t = ('apple', 2.6, 10, 5j, True)
print(t)
print(type(t))

('apple', 2.6, 10, 5j, True)
<class 'tuple'>

In [33]:
# string : Store sequence of characters represented in the quotation marks.
      
fname = 'prakash'
lname = 'jha' 

print(fname,lname)
print(type(fname))
print(type(lname))

prakash jha
<class 'str'>
<class 'str'>

## 4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is the combination of operator,operands and identifiers. 

Operator : An operator is a special symbol that performs the arithmetic or logical computations on the operands.
Operands : An operand is an object on which operation is taking place to return expected result. 
Identifiers : An identifier is a name that is used to define and identify a class, variable, or function in Python.

The expression in Python produces some value or result after being interpreted by the Python interpreter.
If there are various operators in an expression then the operators are resolved based on their precedence.

In [39]:
# Example:

a = 18
b = 20

sum = a + b  # Expression

print(sum)

38

In [40]:
# Using multiple operator:
x = 10
y = 20
z = 100

result = (z/x)+(x*y)-(x+y+z)  # operator is executed according to precedence rule.

print(result)

80.0

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
An expression evaluates to a single value. A statement does not.
If you can assign result to a variable, it’s an expression. If you can’t, it’s a statement.

In [6]:
# Example of Expression:

z=10   # Required statement to initilize the value of z.

z = z+100
a = z-90
c = min(29,29.1,77,52,19)
d = max(41.3,37,45,67,22)

print(z,a,c,d)

110 20 19 67

In [ ]:
# Example of Statement:
if CONDITION: 
elif CONDITION: 
else CONDITION:
raise
return
try etc.

## 6. After running the following code, what does the variable bacon contain?
bacon = 22, bacon + 1

In [42]:
bacon = 22
bacon+1  #The variable bacon contain 22 as result, as incremented value is not assigned back to the variable bacon.

print(bacon)

22

## 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;, &#39;spam&#39; * 3

In [7]:
'spam' + 'spamspam'

'spamspamspam'

In [45]:
'spam' * 3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
In python , name of a variable cannot start with a number.

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

## 10. Why does this expression cause an error? How can you fix it? &#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [46]:
'I have eaten ' + 99 + ' burritos.' # String value is not concatenate with Integer values

TypeError: can only concatenate str (not "int") to str

In [47]:
# we can fix the above error using formatted string or f string.

f'I have eaten {99} burritos.'

'I have eaten 99 burritos.'